<div class="row mt-5">
  <div class="col">
    <h3>Admin Panel ---></h3>
    <div>
      <p><u>Account Details</u></p>
      <button class="btn btn-warning" routerLink="/allAccount">
        Staff Account Detail
      </button>
    </div>
    <div>
      <p><u>To Create </u></p>
      <button class="btn btn-warning" routerLink="/register">
        Create New "Staff Account"
      </button>
      <button class="btn btn-warning" routerLink="/createStudent">
        Add New Student Information
      </button>
    </div>
    <div>
      <p><u>To View List Of Details</u></p>
      <button class="btn btn-warning" routerLink="/stafflist">
        Staff Personal Information List
      </button>
      <button class="btn btn-warning" routerLink="/studentAll">
        OverAll Registered Student List
      </button>
    </div>
  </div>
</div>
