<div class="bg-light">
  <h2>Staff'sList</h2>
  <button class="btn btn-info">Add New Student</button>
  <div class="col-sm-8"></div>
  <table
    class="table table-bordered table-striped table-hover table-success table-responsive-sm"
  >
    <thead class="">
      <tr>
        <td>Employee Id</td>
        <td>Username</td>
        <td>Eamil</td>
        <!-- <td>Password</td> -->
        <td>Action</td>
      </tr>
    </thead>
    <tbody class="">
      <tr *ngFor="let employess of employee">
        <td>{{ employess.id }}</td>
        <td>{{ employess.username }}</td>
        <td>{{ employess.email }}</td>
        <!-- <td>{{ employess.password }}</td> -->
        <td>
          <button
            class="btn btn-primary mx-3"
            (click)="updateById(employess.id)"
          >
            update
          </button>
          <button class="btn btn-danger" (click)="deleteById(employess.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
